
.main-btn {
    height: 45px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: linear-gradient(135deg,#77c1ff 0,#32d8c0 60%,#bcf53f 100%);
    transition: box-shadow 0.3s;
    cursor: pointer;
}

.main-btn:hover {
    box-shadow: 1px 3px 7px 3px rgba(0,0,0,0.2);
}

.small-btn {
    line-height: 25px;
    font-size: 12px;
    padding: 0 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid #eae8e8;
    border-radius: 3px;
    background: linear-gradient(135deg,#77c1ff 0,#32d8c0 60%,#bcf53f 100%);
}

.icon-btn {
    background: transparent;
    border: none;
    outline: none;
    color: #666666;
}